<div class="card" >
    <img src= "<%= flag1%>" class="card-img" alt="..." id="flag1">
    <div class="card-body">
   
      <h5 class="card-title" id="name1"><%=name1%></h5>
      <p>is</p>
      <h5 class="card-title" id="size1"><%=size1%></h5>
      <p>in total area</p>
    </div>
  </div>