<div class="card" >
  <p class="score">score : </p>
    <img src= "<%= flag2%>" class="card-img" alt="..." id="flag2">
    <div class="card-body">
      <h5 class="card-title" id="name2"><%=name2%></h5>
      <p>is</p>
      <h5 class="card-title" id="size2" style="display:hidden"><%=size2%></h5>
      <button class="button button1" onclick="more()">More</button><br>
      <button class="button" onclick="less()">Less</button>
      <p>in total area</p>
      
    </div>
  </div>
  
